# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

*.cmake
*.make
*.sh
*.log
*.bash
*.zsh
*.stamp
*.dsv
*.ini

build/*
install/*
log/*
reference/*
src/detect/build/*
src/detect/install/*
src/detect/log/*

*.avi
*.mp4

cmd.txt
